<script type="text/x-red" data-template-name="mongooseModel">

    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Model name">
    </div>
    <div class="form-row">
        <label for="node-input-collection"><i class="fa fa-book"></i> Collection</label>
        <input type="text" id="node-input-collection" placeholder="Collection name">
    </div>
    <div class="form-row node-input-field-container-row">
        <label for="node-input-field-container"><i class="fa fa-address-card-o"></i> Fields</label>
        <ol id="node-input-field-container"></ol>
    </div>

</script>


<!-- Next, some simple help text is provided for the node.                   -->
<script type="text/x-red" data-help-name="mongooseModel">

    <h3>Usage</h3>
</script>

<!-- Finally, the node type is registered along with all of its properties   -->
<!-- The example below shows a small subset of the properties that can be set-->
<script type="text/javascript">
   var validateOptions =[
      {val: '', text:'Choose:', placeholder:''},
      {val :'required',text:'Required', default: 'true',placeholder:''},
      {val:'min', text:'Min',placeholder:'type min number'},
      {val:'max', text:'Max',placeholder:'type max number'},
      {val:'enum',text:'Enum',placeholder:''},
      {val:'match',text:'Match',placeholder:'type regex'},
      {val:'minlength',text:'Minlength',placeholder:'min string len'},
      {val:'maxlength',text:'Maxlength',placeholder:'max string len'}                        
   ];

   function getOption(str){
     for (i in validateOptions){
         if (validateOptions[i].val === str){
             return validateOptions[i];
         }         
     }
     return {};
   }

    RED.nodes.registerType('mongooseModel', {
        category: 'storage',
        defaults: {
            name: { value: "", required: true },
            collection: { value: ""},
            fields: { value: [{}]}
        },
        inputs: 0,               // set the number of inputs - only 0 or 1
        outputs: 0,              // set the number of outputs - 0 to n
        icon: "mongoose-model.png",     // saved in  icons/myicon.png
        color: "#d6b1d6",
        label: function () {
            return this.name || "yourModel";
        },
        paletteLabel: "MongooseModel",
        oneditprepare: function () {            
            var node = this;
            function addValidation(obj, container){
                        var rowVal = $('<div/>', { class:"validations-container-item", style: "padding-top: 5px; width:100%; background-color:#e6ffe6" }).appendTo(container);
                        var selectValidate = $('<select/>', { class: "node-select-validate", style: "width:120px; margin-left: 15px; text-align: center;" }).appendTo(rowVal);                        
                       
                        for (opt in validateOptions){
                            selectValidate.append($("<option></option>").val(validateOptions[opt].val).text(validateOptions[opt].text));    
                        }                        
                        selectValidate.val(obj.validate);
                                              
                        var removeValidation= $('<a/>',{href:"#",text:"- remove ", class: "editor-button editor-button-small", style:'display:in-line;margin-left:10px;background-color:#ffd6cc;float:right;'}).appendTo(rowVal);
                   
                        selectValidate.change(function () {
                            var type = selectValidate.val();
                            var val = getOption(type);
                            rowVal.find('.node-input-validate-field').remove();
                            rowVal.find('.node-input-message-field').remove();

                            if (type !== '') {
                                if (type !== 'required'){
                                    var validateField = $('<input/>', { class: "node-input-validate-field", type: "text", style: "margin-left: 5px; width:130px;", placeholder: val.placeholder }).appendTo(rowVal);
                                    validateField.val(obj.validateField);
                                }

                                var messageField = $('<input/>', { class: "node-input-message-field", type: "text", style: "margin-left: 5px; width:180px;", placeholder: 'Validate message' }).appendTo(rowVal);
                                messageField.val(obj.validateMessage);
                            }                                                      
                                                            
                        });

                        selectValidate.change();

                        removeValidation.click(function(e){
                            e.preventDefault();
                            $(this).parent().remove();
                        });
                    }

            $("#node-input-field-container").css('min-height', '370px').css('min-width', '650px').editableList({
                addItem: function (container, i, opt) {
                    if (!opt.hasOwnProperty('f')) {
                        opt.f = {};
                    }
                    var field = opt.f;
                    container.css({
                        overflow: 'hidden',
                        whiteSpace: 'nowrap'
                    });
                    var row = $('<div/>').appendTo(container);
                    var row2 = $('<div/>', { style: "padding-top: 5px; width:100%;" }).appendTo(container);
                    var valueField = $('<input/>', { class: "node-input-field-name", type: "text", style: "margin-left: 5px;width:180px;background-color:#e6f2ff", placeholder: 'Field name' }).appendTo(row);
                    valueField.val(field.name);

                    var selectField = $('<select/>', { class: "node-select-type", style: "width:130px; margin-left: 5px; text-align: center;" }).appendTo(row);

                    selectField.append($("<option></option>").val('String').text('String'));
                    selectField.append($("<option></option>").val('Date').text('Date'));
                    selectField.append($("<option></option>").val('Number').text('Number'));
                    selectField.append($("<option></option>").val('ObjectId').text('ObjectId'));
                    selectField.append($("<option></option>").val('Boolean').text('Boolean'));
                    selectField.append($("<option></option>").val('Buffer').text('Buffer'));
                    selectField.append($("<option></option>").val('Mixed').text('Mixed'));
                    selectField.append($("<option></option>").val('Array').text('Array'));
                    selectField.append($("<option></option>").val('Decimal128').text('Decimal128'));
                    selectField.append($("<option></option>").val('Map').text('Map'));
                    selectField.append($("<option></option>").val('childSchema').text('childSchema'));
                    selectField.append($("<option></option>").val('arrayChildSchema').text('arrayChildSchema'));


                    if (field.type !== undefined) {
                        selectField.val(field.type);
                    }

                    var childName = $('<select/>', { class: "node-input-child-name hide", type: "text", style: "margin-left: 5px; width:120px;" }).appendTo(row);                                        
                    RED.nodes.eachNode(function(ob){
                        if (ob.type === "mongooseModel") {   
                            if (ob.name !== node.name) {
                                var option = $("<option></option>").val(ob.name).text(ob.name);                                 
                                if (field.childSchema == ob.name){
                                    option.attr('selected','true');
                                }
                            }                            
                            childName.append(option);                
                        }
                    });
                   
                   // childName.val(field.childSchema);
                    selectField.change(function () {
                        // var f = row.find(".node-input-child-name");
                        // if (f !== undefined){
                        //     f.remove();
                        // }
                        if (selectField.val() == 'childSchema' || selectField.val() == 'arrayChildSchema') {
                            // var childName = $('<input/>',{class:"node-input-child-name",type:"text",style:"margin-left: -15px; width:120px;",placeholder: 'Child schema'}).appendTo(row);  
                            childName.removeClass('hide');
                        } else {
                            childName.val('');
                            childName.addClass('hide');
                        }
                    });

                    selectField.change();

                    $('<span>Validations</span>').appendTo(row2);
                    var lnkAddValidation= $('<a/>',{href:"#",text:"+ add ", class: "editor-button editor-button-small red-ui-editableList-addButton", style:'display:in-line;margin-left:10px;'}).appendTo(row2);
                    var validationContainer = $('<div/>', {id:'validations-container'}).appendTo(row2);

                    var vals = field.validations || [];
                    for (var i =0; i< vals.length; i++){
                        addValidation(vals[i], validationContainer);
                    }


                    lnkAddValidation.click(function(e){
                        e.preventDefault();                        
                        addValidation({validate:'',  validateField: '',validateMessage: ''},validationContainer);

                    });
                   

                },
                sortable: true,
                removable: true
            });
            for (var i = 0; i < this.fields.length; i++) {
                var field = this.fields[i];
                $("#node-input-field-container").editableList('addItem', { f: field, i: i });
            }
        },
        oneditsave: function () {
            var fields = $("#node-input-field-container").editableList('items');
            var node = this;
            node.fields = [];
            fields.each(function (i) {
                var field = $(this);

                var fieldName = field.find(".node-input-field-name").val();                
                var fieldType = field.find(".node-select-type").val();              
                var childSchema = field.find(".node-input-child-name").val();
                var validations = [];
                var validationContainer = field.find("#validations-container");

                validationContainer.find('.validations-container-item').each(function(j){
                    var rowVal = $(this);
                    var validate = rowVal.find(".node-select-validate").val();
                    var validateField = rowVal.find(".node-input-validate-field").val();
                    var validateMessage = rowVal.find(".node-input-message-field").val();
                    if (validate === 'required'){
                        validateField = true;
                    }
                    var v = {validate:validate,  validateField: validateField,validateMessage: validateMessage};
                    if (validate != ''){
                        validations.push(v);
                    }
                    
                });
                
    
                var f = {
                    name: fieldName, 
                    type: fieldType,
                    childSchema: childSchema,
                    validations: validations
                };
                console.log(f);
                // console.log("!=" + type);
                // if (type === "length") {
                //     r.iv2 = rule.find(".node-input-rule-value2").val();    
                // }
                node.fields.push(f);
            });

        }

    });
</script>