<script type="text/x-red" data-template-name="mongooseOp">

    <!-- By convention, most nodes have a 'name' property. The following div -->
    <!-- provides the necessary field. Should always be the last option      -->
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>

          <div class="form-row">
            <label for="node-input-confignode"><i class="icon-bookmark"></i> Server</label>
            <input type="text" id="node-input-confignode" />
          </div>
          <div class="form-row">
            <label for="node-input-model"><i class="icon-briefcase"></i> Model</label>
            <select type="text" id="node-input-model" style="display: inline-block; vertical-align: top;">
                <option value="" style="font-style: italic;">Dynamic (msg.model)</option>
              </select>
          </div>
          <div class="form-row">
            <label for="node-input-operation"><i class="fa fa-wrench"></i> Operation</label>
            <select type="text" id="node-input-operation" style="display: inline-block; vertical-align: top;">
              <option value="" id="node-input-dynamic-operation" style="font-style: italic;">Dynamic (msg.operation)</option>
            </select>
          </div>

</script>

<!-- Next, some simple help text is provided for the node.                   -->
<script type="text/x-red" data-help-name="mongooseOp">

    <h3>Usage</h3>
</script>

<!-- Finally, the node type is registered along with all of its properties   -->
<!-- The example below shows a small subset of the properties that can be set-->
<script type="text/javascript">
    RED.nodes.registerType('mongooseOp', {
        category: 'storage',
        defaults: {    
            name: {value:""},
            confignode: {
                value: "",
                type: "mongooseconf"
            },
            model: {value:""},
            operation : {value:""}
        },
        inputs:1,               // set the number of inputs - only 0 or 1
        outputs:1,              // set the number of outputs - 0 to n
        icon: "mongoose.png",     // saved in  icons/myicon.png
        color: "#d6b1d6", 
        label: function() {            
            return this.name || "mongooseOp";
        },
        paletteLabel: "mongooseOp",
        oneditprepare: function() {
          var node = this;
          var selectModel = $('#node-input-model');   
          RED.nodes.eachNode(function(ob){
                if (ob.type === "mongooseModel") {   
                  var option = $("<option></option>").val(ob.name).text(ob.name);                                 
                  if (node.model == ob.name){
                    option.attr('selected','true');
                  }
                  selectModel.append(option);                
                }
             })
             
         var selectOperations = $('#node-input-operation');
         
          $.getJSON("mongooseop/operations", function(data) {            
            for (var i = 0 ;i < data.length; i ++){              
              var option = $("<option></option>").val(data[i]).text(data[i]);  
              if (node.operation == data[i]){
                    option.attr('selected','true');
                  }                    
              selectOperations.append(option);                
            }            
          });  

        },
        oneditsave: function() {
          var node = this;          
          this.model = $('#node-input-model').val();
          this.operation = $('#node-input-operation').val();
          console.log(this.confignode);
        }
        
    });
</script>

<script type="text/x-red" data-template-name="mongooseconf">
    <div class="form-row">
      <label for="node-config-input-uri"><i class="icon-globe"></i> URI</label>
      <input type="text" id="node-config-input-uri" placeholder="mongodb://host1.yourprovider.com:27017,host2.yourprovider.com:27017/yourdb?replicaSet=foo" />
    </div>
    <div class="form-row">
      <label for="node-config-input-name"><i class="icon-tag"></i> Name</label>
      <input type="text" id="node-config-input-name" placeholder="Name" />
    </div>
    <div class="form-row">
      <label for="node-config-input-user"><i class="icon-user"></i> Username</label>
      <input type="text" id="node-config-input-user" />
    </div>
    <div class="form-row">
      <label for="node-config-input-password"><i class="icon-lock"></i> Password</label>
      <input type="password" id="node-config-input-password" />
    </div>
    <div class="form-row">
      <label for="node-config-input-options"><i class="icon-wrench"></i> Connection Options</label>
      <input type="text" id="node-config-input-options" placeholder="Stringified JSON" />
    </div>
  </script>
  
  <script type="text/javascript">
  RED.nodes.registerType("mongooseconf", {
    "category": "config",
    "color": "#5294CF",
    "defaults": {
      "uri": {
        "value": ""
      },
      "name": {
        "value": ""
      },
      "options": {
        "value": ""
      }
    },
    "credentials": {
      "user": {
        "type": "text"
      },
      "password": {
        "type": "password"
      }
    },
    "label": function() {
      return this.name || ('' + this.uri).replace(/^(\w+\:\/\/)([^\@]*\@)?/, '$1');
    }
  });
  </script>